{% extends "/TheGrid/layout.html.twig" %}
{% set game = 'index' %}


{% block content %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Sequence</th>
            <th>Grids</th>
            <th>Sort</th>
        </tr>
            {% for result in results %}
            <tr>
                <td>{{ result.title }}</td>
                <td>{{ result.sequence }}</td>
                <td></td>
                <td>{{ result.sort }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
{% endblock %}